body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden; }

.stars_on_sky > .before, .stars_on_sky > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards paused, 1s gravity ease-in infinite backwards paused, 5s position linear infinite backwards paused; }

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 153px -414.66667px #006aff, -92px -191.66667px #ffa600, -195px 16.33333px #ff00f7, 145px -271.66667px #000dff, -137px -136.66667px #2f00ff, -28px -72.66667px #4000ff, -216px 19.33333px #ffaa00, 145px -116.66667px #ff9500, -223px -121.66667px #ff5100, 2px -253.66667px #0037ff, 156px -302.66667px #ff3300, 221px 29.33333px #00ff3c, 83px -139.66667px #001eff, 170px -182.66667px #ff00d5, -133px -252.66667px #ffee00, 18px 55.33333px #6a00ff, 28px -291.66667px #ff00bb, 221px -86.66667px #c400ff, 150px 65.33333px #ff0051, -154px -0.66667px #ffae00, 63px -24.66667px #00ff84, 230px -259.66667px #ff002f, 136px -121.66667px #c400ff, 18px -72.66667px #ff4000, -248px -388.66667px #ffcc00, -1px 34.33333px #ff00e6, -150px -283.66667px #ff00f2, 26px -313.66667px #ff6a00, -13px 37.33333px #00ffd5, 103px -124.66667px #00ccff, -153px 77.33333px #22ff00, -133px -270.66667px #ff9d00, 114px 41.33333px #ff7300, 174px -368.66667px #00ff3c, -87px -229.66667px #55ff00, -25px -252.66667px #ffd900, 233px -49.66667px yellow, -219px -340.66667px #ffdd00, 159px -28.66667px #ff00d0, -123px -191.66667px #ffcc00, 239px -122.66667px #fbff00, 166px -30.66667px #ff0095, 189px -22.66667px #ff0080, 158px -212.66667px #002fff, 137px -81.66667px #00ff1e, 138px -234.66667px #b3ff00, 204px -38.66667px #ffaa00, -44px -310.66667px #0062ff, 201px 13.33333px #00ffc8, 3px -193.66667px #00ff33, -187px -85.66667px #ff0037; } }

@-moz-keyframes bang {
  to {
    box-shadow: 153px -414.66667px #006aff, -92px -191.66667px #ffa600, -195px 16.33333px #ff00f7, 145px -271.66667px #000dff, -137px -136.66667px #2f00ff, -28px -72.66667px #4000ff, -216px 19.33333px #ffaa00, 145px -116.66667px #ff9500, -223px -121.66667px #ff5100, 2px -253.66667px #0037ff, 156px -302.66667px #ff3300, 221px 29.33333px #00ff3c, 83px -139.66667px #001eff, 170px -182.66667px #ff00d5, -133px -252.66667px #ffee00, 18px 55.33333px #6a00ff, 28px -291.66667px #ff00bb, 221px -86.66667px #c400ff, 150px 65.33333px #ff0051, -154px -0.66667px #ffae00, 63px -24.66667px #00ff84, 230px -259.66667px #ff002f, 136px -121.66667px #c400ff, 18px -72.66667px #ff4000, -248px -388.66667px #ffcc00, -1px 34.33333px #ff00e6, -150px -283.66667px #ff00f2, 26px -313.66667px #ff6a00, -13px 37.33333px #00ffd5, 103px -124.66667px #00ccff, -153px 77.33333px #22ff00, -133px -270.66667px #ff9d00, 114px 41.33333px #ff7300, 174px -368.66667px #00ff3c, -87px -229.66667px #55ff00, -25px -252.66667px #ffd900, 233px -49.66667px yellow, -219px -340.66667px #ffdd00, 159px -28.66667px #ff00d0, -123px -191.66667px #ffcc00, 239px -122.66667px #fbff00, 166px -30.66667px #ff0095, 189px -22.66667px #ff0080, 158px -212.66667px #002fff, 137px -81.66667px #00ff1e, 138px -234.66667px #b3ff00, 204px -38.66667px #ffaa00, -44px -310.66667px #0062ff, 201px 13.33333px #00ffc8, 3px -193.66667px #00ff33, -187px -85.66667px #ff0037; } }

@-o-keyframes bang {
  to {
    box-shadow: 153px -414.66667px #006aff, -92px -191.66667px #ffa600, -195px 16.33333px #ff00f7, 145px -271.66667px #000dff, -137px -136.66667px #2f00ff, -28px -72.66667px #4000ff, -216px 19.33333px #ffaa00, 145px -116.66667px #ff9500, -223px -121.66667px #ff5100, 2px -253.66667px #0037ff, 156px -302.66667px #ff3300, 221px 29.33333px #00ff3c, 83px -139.66667px #001eff, 170px -182.66667px #ff00d5, -133px -252.66667px #ffee00, 18px 55.33333px #6a00ff, 28px -291.66667px #ff00bb, 221px -86.66667px #c400ff, 150px 65.33333px #ff0051, -154px -0.66667px #ffae00, 63px -24.66667px #00ff84, 230px -259.66667px #ff002f, 136px -121.66667px #c400ff, 18px -72.66667px #ff4000, -248px -388.66667px #ffcc00, -1px 34.33333px #ff00e6, -150px -283.66667px #ff00f2, 26px -313.66667px #ff6a00, -13px 37.33333px #00ffd5, 103px -124.66667px #00ccff, -153px 77.33333px #22ff00, -133px -270.66667px #ff9d00, 114px 41.33333px #ff7300, 174px -368.66667px #00ff3c, -87px -229.66667px #55ff00, -25px -252.66667px #ffd900, 233px -49.66667px yellow, -219px -340.66667px #ffdd00, 159px -28.66667px #ff00d0, -123px -191.66667px #ffcc00, 239px -122.66667px #fbff00, 166px -30.66667px #ff0095, 189px -22.66667px #ff0080, 158px -212.66667px #002fff, 137px -81.66667px #00ff1e, 138px -234.66667px #b3ff00, 204px -38.66667px #ffaa00, -44px -310.66667px #0062ff, 201px 13.33333px #00ffc8, 3px -193.66667px #00ff33, -187px -85.66667px #ff0037; } }

@-ms-keyframes bang {
  to {
    box-shadow: 153px -414.66667px #006aff, -92px -191.66667px #ffa600, -195px 16.33333px #ff00f7, 145px -271.66667px #000dff, -137px -136.66667px #2f00ff, -28px -72.66667px #4000ff, -216px 19.33333px #ffaa00, 145px -116.66667px #ff9500, -223px -121.66667px #ff5100, 2px -253.66667px #0037ff, 156px -302.66667px #ff3300, 221px 29.33333px #00ff3c, 83px -139.66667px #001eff, 170px -182.66667px #ff00d5, -133px -252.66667px #ffee00, 18px 55.33333px #6a00ff, 28px -291.66667px #ff00bb, 221px -86.66667px #c400ff, 150px 65.33333px #ff0051, -154px -0.66667px #ffae00, 63px -24.66667px #00ff84, 230px -259.66667px #ff002f, 136px -121.66667px #c400ff, 18px -72.66667px #ff4000, -248px -388.66667px #ffcc00, -1px 34.33333px #ff00e6, -150px -283.66667px #ff00f2, 26px -313.66667px #ff6a00, -13px 37.33333px #00ffd5, 103px -124.66667px #00ccff, -153px 77.33333px #22ff00, -133px -270.66667px #ff9d00, 114px 41.33333px #ff7300, 174px -368.66667px #00ff3c, -87px -229.66667px #55ff00, -25px -252.66667px #ffd900, 233px -49.66667px yellow, -219px -340.66667px #ffdd00, 159px -28.66667px #ff00d0, -123px -191.66667px #ffcc00, 239px -122.66667px #fbff00, 166px -30.66667px #ff0095, 189px -22.66667px #ff0080, 158px -212.66667px #002fff, 137px -81.66667px #00ff1e, 138px -234.66667px #b3ff00, 204px -38.66667px #ffaa00, -44px -310.66667px #0062ff, 201px 13.33333px #00ffc8, 3px -193.66667px #00ff33, -187px -85.66667px #ff0037; } }

@keyframes bang {
  to {
    box-shadow: 153px -414.66667px #006aff, -92px -191.66667px #ffa600, -195px 16.33333px #ff00f7, 145px -271.66667px #000dff, -137px -136.66667px #2f00ff, -28px -72.66667px #4000ff, -216px 19.33333px #ffaa00, 145px -116.66667px #ff9500, -223px -121.66667px #ff5100, 2px -253.66667px #0037ff, 156px -302.66667px #ff3300, 221px 29.33333px #00ff3c, 83px -139.66667px #001eff, 170px -182.66667px #ff00d5, -133px -252.66667px #ffee00, 18px 55.33333px #6a00ff, 28px -291.66667px #ff00bb, 221px -86.66667px #c400ff, 150px 65.33333px #ff0051, -154px -0.66667px #ffae00, 63px -24.66667px #00ff84, 230px -259.66667px #ff002f, 136px -121.66667px #c400ff, 18px -72.66667px #ff4000, -248px -388.66667px #ffcc00, -1px 34.33333px #ff00e6, -150px -283.66667px #ff00f2, 26px -313.66667px #ff6a00, -13px 37.33333px #00ffd5, 103px -124.66667px #00ccff, -153px 77.33333px #22ff00, -133px -270.66667px #ff9d00, 114px 41.33333px #ff7300, 174px -368.66667px #00ff3c, -87px -229.66667px #55ff00, -25px -252.66667px #ffd900, 233px -49.66667px yellow, -219px -340.66667px #ffdd00, 159px -28.66667px #ff00d0, -123px -191.66667px #ffcc00, 239px -122.66667px #fbff00, 166px -30.66667px #ff0095, 189px -22.66667px #ff0080, 158px -212.66667px #002fff, 137px -81.66667px #00ff1e, 138px -234.66667px #b3ff00, 204px -38.66667px #ffaa00, -44px -310.66667px #0062ff, 201px 13.33333px #00ffc8, 3px -193.66667px #00ff33, -187px -85.66667px #ff0037; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }
