body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden; }

.stars_on_sky > .before, .stars_on_sky > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards paused, 1s gravity ease-in infinite backwards paused, 5s position linear infinite backwards paused; }

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: -131px -162.66667px #51ff00, -204px -217.66667px #9100ff, -238px 67.33333px #00f7ff, 153px -5.66667px #3700ff, -31px -13.66667px #00ffd5, 215px 10.33333px #0009ff, 44px -78.66667px #c4ff00, 59px -106.66667px #ff8400, 61px -284.66667px #6600ff, -229px -265.66667px #005eff, 247px -332.66667px #bf00ff, -86px -66.66667px #80ff00, -213px 81.33333px #ff6600, 16px 61.33333px #00aeff, -203px -109.66667px #6f00ff, 12px -169.66667px #3cff00, 10px -386.66667px #ff0037, -219px -155.66667px #a2ff00, -152px -29.66667px #ff3300, 245px -263.66667px #6aff00, 245px 3.33333px #00d0ff, 59px -177.66667px #00b7ff, 46px -53.66667px #00eeff, 150px -18.66667px #4dff00, -9px -194.66667px #00ff77, 34px -87.66667px #00ff2b, -110px -394.66667px #00ff55, 189px -344.66667px #ff5e00, -66px -274.66667px #0051ff, 144px -217.66667px #00ff48, -213px -330.66667px #ea00ff, 23px -233.66667px #00ddff, -155px -35.66667px #f2ff00, 99px -377.66667px #fff700, 231px -268.66667px #ff9100, -20px -33.66667px #00ffdd, -107px -75.66667px #ff7700, -162px -5.66667px #ff2b00, -203px 32.33333px #0015ff, -130px -162.66667px #fffb00, -138px -382.66667px #40ff00, 203px 41.33333px #ff006f, -221px -99.66667px #fbff00, -117px -407.66667px #ff00d0, -50px -154.66667px #ff4000, 188px -210.66667px #d000ff, 199px -311.66667px #ff00c8, 45px 80.33333px #ff0015, 188px -341.66667px #00ff22, 25px -59.66667px #00ff33, -107px -204.66667px #008cff; } }

@-moz-keyframes bang {
  to {
    box-shadow: -131px -162.66667px #51ff00, -204px -217.66667px #9100ff, -238px 67.33333px #00f7ff, 153px -5.66667px #3700ff, -31px -13.66667px #00ffd5, 215px 10.33333px #0009ff, 44px -78.66667px #c4ff00, 59px -106.66667px #ff8400, 61px -284.66667px #6600ff, -229px -265.66667px #005eff, 247px -332.66667px #bf00ff, -86px -66.66667px #80ff00, -213px 81.33333px #ff6600, 16px 61.33333px #00aeff, -203px -109.66667px #6f00ff, 12px -169.66667px #3cff00, 10px -386.66667px #ff0037, -219px -155.66667px #a2ff00, -152px -29.66667px #ff3300, 245px -263.66667px #6aff00, 245px 3.33333px #00d0ff, 59px -177.66667px #00b7ff, 46px -53.66667px #00eeff, 150px -18.66667px #4dff00, -9px -194.66667px #00ff77, 34px -87.66667px #00ff2b, -110px -394.66667px #00ff55, 189px -344.66667px #ff5e00, -66px -274.66667px #0051ff, 144px -217.66667px #00ff48, -213px -330.66667px #ea00ff, 23px -233.66667px #00ddff, -155px -35.66667px #f2ff00, 99px -377.66667px #fff700, 231px -268.66667px #ff9100, -20px -33.66667px #00ffdd, -107px -75.66667px #ff7700, -162px -5.66667px #ff2b00, -203px 32.33333px #0015ff, -130px -162.66667px #fffb00, -138px -382.66667px #40ff00, 203px 41.33333px #ff006f, -221px -99.66667px #fbff00, -117px -407.66667px #ff00d0, -50px -154.66667px #ff4000, 188px -210.66667px #d000ff, 199px -311.66667px #ff00c8, 45px 80.33333px #ff0015, 188px -341.66667px #00ff22, 25px -59.66667px #00ff33, -107px -204.66667px #008cff; } }

@-o-keyframes bang {
  to {
    box-shadow: -131px -162.66667px #51ff00, -204px -217.66667px #9100ff, -238px 67.33333px #00f7ff, 153px -5.66667px #3700ff, -31px -13.66667px #00ffd5, 215px 10.33333px #0009ff, 44px -78.66667px #c4ff00, 59px -106.66667px #ff8400, 61px -284.66667px #6600ff, -229px -265.66667px #005eff, 247px -332.66667px #bf00ff, -86px -66.66667px #80ff00, -213px 81.33333px #ff6600, 16px 61.33333px #00aeff, -203px -109.66667px #6f00ff, 12px -169.66667px #3cff00, 10px -386.66667px #ff0037, -219px -155.66667px #a2ff00, -152px -29.66667px #ff3300, 245px -263.66667px #6aff00, 245px 3.33333px #00d0ff, 59px -177.66667px #00b7ff, 46px -53.66667px #00eeff, 150px -18.66667px #4dff00, -9px -194.66667px #00ff77, 34px -87.66667px #00ff2b, -110px -394.66667px #00ff55, 189px -344.66667px #ff5e00, -66px -274.66667px #0051ff, 144px -217.66667px #00ff48, -213px -330.66667px #ea00ff, 23px -233.66667px #00ddff, -155px -35.66667px #f2ff00, 99px -377.66667px #fff700, 231px -268.66667px #ff9100, -20px -33.66667px #00ffdd, -107px -75.66667px #ff7700, -162px -5.66667px #ff2b00, -203px 32.33333px #0015ff, -130px -162.66667px #fffb00, -138px -382.66667px #40ff00, 203px 41.33333px #ff006f, -221px -99.66667px #fbff00, -117px -407.66667px #ff00d0, -50px -154.66667px #ff4000, 188px -210.66667px #d000ff, 199px -311.66667px #ff00c8, 45px 80.33333px #ff0015, 188px -341.66667px #00ff22, 25px -59.66667px #00ff33, -107px -204.66667px #008cff; } }

@-ms-keyframes bang {
  to {
    box-shadow: -131px -162.66667px #51ff00, -204px -217.66667px #9100ff, -238px 67.33333px #00f7ff, 153px -5.66667px #3700ff, -31px -13.66667px #00ffd5, 215px 10.33333px #0009ff, 44px -78.66667px #c4ff00, 59px -106.66667px #ff8400, 61px -284.66667px #6600ff, -229px -265.66667px #005eff, 247px -332.66667px #bf00ff, -86px -66.66667px #80ff00, -213px 81.33333px #ff6600, 16px 61.33333px #00aeff, -203px -109.66667px #6f00ff, 12px -169.66667px #3cff00, 10px -386.66667px #ff0037, -219px -155.66667px #a2ff00, -152px -29.66667px #ff3300, 245px -263.66667px #6aff00, 245px 3.33333px #00d0ff, 59px -177.66667px #00b7ff, 46px -53.66667px #00eeff, 150px -18.66667px #4dff00, -9px -194.66667px #00ff77, 34px -87.66667px #00ff2b, -110px -394.66667px #00ff55, 189px -344.66667px #ff5e00, -66px -274.66667px #0051ff, 144px -217.66667px #00ff48, -213px -330.66667px #ea00ff, 23px -233.66667px #00ddff, -155px -35.66667px #f2ff00, 99px -377.66667px #fff700, 231px -268.66667px #ff9100, -20px -33.66667px #00ffdd, -107px -75.66667px #ff7700, -162px -5.66667px #ff2b00, -203px 32.33333px #0015ff, -130px -162.66667px #fffb00, -138px -382.66667px #40ff00, 203px 41.33333px #ff006f, -221px -99.66667px #fbff00, -117px -407.66667px #ff00d0, -50px -154.66667px #ff4000, 188px -210.66667px #d000ff, 199px -311.66667px #ff00c8, 45px 80.33333px #ff0015, 188px -341.66667px #00ff22, 25px -59.66667px #00ff33, -107px -204.66667px #008cff; } }

@keyframes bang {
  to {
    box-shadow: -131px -162.66667px #51ff00, -204px -217.66667px #9100ff, -238px 67.33333px #00f7ff, 153px -5.66667px #3700ff, -31px -13.66667px #00ffd5, 215px 10.33333px #0009ff, 44px -78.66667px #c4ff00, 59px -106.66667px #ff8400, 61px -284.66667px #6600ff, -229px -265.66667px #005eff, 247px -332.66667px #bf00ff, -86px -66.66667px #80ff00, -213px 81.33333px #ff6600, 16px 61.33333px #00aeff, -203px -109.66667px #6f00ff, 12px -169.66667px #3cff00, 10px -386.66667px #ff0037, -219px -155.66667px #a2ff00, -152px -29.66667px #ff3300, 245px -263.66667px #6aff00, 245px 3.33333px #00d0ff, 59px -177.66667px #00b7ff, 46px -53.66667px #00eeff, 150px -18.66667px #4dff00, -9px -194.66667px #00ff77, 34px -87.66667px #00ff2b, -110px -394.66667px #00ff55, 189px -344.66667px #ff5e00, -66px -274.66667px #0051ff, 144px -217.66667px #00ff48, -213px -330.66667px #ea00ff, 23px -233.66667px #00ddff, -155px -35.66667px #f2ff00, 99px -377.66667px #fff700, 231px -268.66667px #ff9100, -20px -33.66667px #00ffdd, -107px -75.66667px #ff7700, -162px -5.66667px #ff2b00, -203px 32.33333px #0015ff, -130px -162.66667px #fffb00, -138px -382.66667px #40ff00, 203px 41.33333px #ff006f, -221px -99.66667px #fbff00, -117px -407.66667px #ff00d0, -50px -154.66667px #ff4000, 188px -210.66667px #d000ff, 199px -311.66667px #ff00c8, 45px 80.33333px #ff0015, 188px -341.66667px #00ff22, 25px -59.66667px #00ff33, -107px -204.66667px #008cff; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 03%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 03%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 03%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 03%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 03%;
    margin-left: 80%; } }
